# Node.js
node_modules/
dist/
coverage/

# Configuración local
.env
.vscode/
.idea/
.DS_Store
*.local
*.cache
*.tsbuildinfo
*.eslintcache
*.prettiercache

# Postman
Postman/
postman/
.postman/


# Logs y temporales
*.log
*.tmp
*.bak
*.swp
*.swo

# Archivos comprimidos
*.zip
*.tar.gz
*.rar
